*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 100px;
    background-color:rgba(209, 176, 125, 0.763);
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav ul li:hover{
    background-color:rgb(255, 128, 0);
    color:#fff;
    border:2px  solid #fff;
    border-radius: 3px;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
    }
    .nav .logo b{
        color:rgb(255, 128, 0);
    }
    .nav ul{
        display: flex;
        list-style: none;
    }
    .nav ul li{
        margin-right:30px ;
    }
    .nav ul li a{
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-family: sans-serif;
        font-size:17px;
    }
    input{
        padding:10px 20px;
        cursor: pointer;
        font-weight: 600;
    }
    .signup{
        background-color: rgb(255, 128, 0);
        color: #fff;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    .signup:hover{
        background-color:#fff;
        color:rgb(255, 128, 0);
    }
    .signin{
        background: transparent;
        border: none;
    }
    .container{
        display:grid;
        grid-template-columns: 50% auto;
        gap:30px;
        margin-top: 120px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .container .container-left{

        display:block;
        width:100%;
    }
    .container .container-left info{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container .container-left h2{
        font-size: 60px;
        font-family: sans-serif;
        margin-bottom: 30px;
    }
    .container .container-left .info p{
        font-size: 23px;
        line-height: 2pc;
        margin-bottom: 30px;
        font-family:sans-serif;
    }
    .container .container-left button{
        padding: 13px 25px;
        background-color:rgb(255, 128, 0);
        color:#fff;
        border-radius: 6px;
        border: none;
        cursor: pointer;

    }
    .container .container-left button:hover{
        background-color: #fff;
        color:rgb(255, 128, 0);
    }
    .container .container-right{
        display: block;
        width: 400px;
    }
    .container .container-right img{
        width:300px;
        height: auto;
        image-orientation:left;
        animation: rotate 10s linear infinite;
    }
    @keyframes rotate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    .cards{
        width:90%;
        height: 140px;
        border: 1px solid #000;
        position: relative;
        top:4em;
        padding-left:30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        scroll-behavior: smooth;
        transition: 1s linear;
    }
    .cards .card:hover{
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .cards::-webkit-scrollbar{
        display: none;
    }
    .cards .card{
        position: relative;
        min-width:125px;
        min-height: 125px;
        border:1px solid #000;
        margin-right: 13px;
        background: #282828;
        border-radius: 50px 10px 10px 10px;
        text-align: center;
        border-radius: 6px;
        font-family: sans-serif;
        color: #fff;
        transition: transform .2s;
    }
    .cards .card img{
        width: 60px;
        height:30px;
        position:relative;
        top:6px;
        right:6px;
    }
    .cards .card button{
        background-color: rgb(255, 128, 0);
        color: #000;
        border: none;
        width: 70px;
        border-radius: 2px;
    }
    .social-links{
        position:absolute;
        right:5%;
        bottom:5%;
    }
    .social-links i{
        margin-left: 10px;
        top:2px;
        width: 25px;
        height:25px;
        border-radius:50%;
        background-color: rgb(255, 128, 0);
        display:flex;
        text-align:center;
        justify-content:center;
        transition: 0.5s;
        font-size:15px;
        
    }
    .social-links i:hover{
        transform: translateY(-5px);
    }
    
    
    

